In [ ]:
#importing necessary libraries
import pandas as pd
from google.colab import files

print("Please upload the 'titanic.csv' file:")
uploaded = files.upload()

# Step 3: Load the dataset into a Pandas DataFrame
df = pd.read_csv("titanic.csv")

# Step 4: Create a DataFrame containing only the 'Fare' column
fare = df[['Fare']]  # Subset only the "Fare" column

# Step 5: Print the first 5 rows of the 'Fare' DataFrame
fare.head((5))

Please upload the 'titanic.csv' file:

Saving titanic.csv to titanic.csv

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [ ]:
import pandas as pd
from google.colab import files

# Step 1: Create the DataFrame 'class_age' containing only the 'Pclass' and 'Age' columns
class_age = df[['Pclass', 'Age']]  # Selecting the 'Pclass' and 'Age' columns

# Step 2: Print the first few rows of the 'class_age' DataFrame
class_age.head(13)

    Pclass   Age
0        3  22.0
1        1  38.0
2        3  26.0
3        1  35.0
4        3  35.0
5        3   NaN
6        1  54.0
7        3   2.0
8        3  27.0
9        2  14.0
10       3   4.0
11       1  58.0
12       3  20.0

In [ ]:
import pandas as pd
from google.colab import files

survived_gender = df[['Survived','Age']]
# Display the first 10 rows of the filtered DataFrame in a better format
survived_gender.head(10)

   Survived   Age
0         0  22.0
1         1  38.0
2         1  26.0
3         1  35.0
4         0  35.0
5         0   NaN
6         0  54.0
7         0   2.0
8         1  27.0
9         1  14.0

In [ ]:
import pandas as pd
from google.colab import files

fare_gt_100 = df[df['Fare'] > 100]

fare_gt_100.head(145)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
258,259,1,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.00,0,1,PC 17582,153.4625,C125,S
269,270,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333,C99,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
318,319,1,1,"Wick, Miss. Mary Natalie",female,31.00,0,2,36928,164.8667,C7,S
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.00,1,1,16966,134.5000,E34,C
325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C
332,333,0,1,"Graham, Mr. George Edward",male,38.00,0,1,PC 17582,153.4625,C91,S
334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,NaN,S
337,338,1,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.00,3,2,19950,263.0000,C23 C25 C27,S
373,374,0,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,NaN,C
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.00,0,2,113503,211.5000,C82,C
380,381,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,NaN,C
390,391,1,1,"Carter, Mr. William Ernest",male,36.00,1,2,113760,120.0000,B96 B98,S
393,394,1,1,"Newell, Miss. Marjorie",female,23.00,1,0,35273,113.2750,D36,C
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
438,439,0,1,"Fortune, Mr. Mark",male,64.00,1,4,19950,263.0000,C23 C25 C27,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.00,1,0,PC 17758,108.9000,C65,C
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S
537,538,1,1,"LeRoy, Miss. Bertha",female,30.00,0,0,PC 17761,106.4250,NaN,C
544,545,0,1,"Douglas, Mr. Walter Donald",male,50.00,1,0,PC 17761,106.4250,C86,C
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
557,558,0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,NaN,C
581,582,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.00,1,1,17421,110.8833,C68,C
609,610,1,1,"Shutes, Miss. Elizabeth W",female,40.00,0,0,PC 17582,153.4625,C125,S
659,660,0,1,"Newell, Mr. Arthur Webster",male,58.00,0,2,35273,113.2750,D48,C
660,661,1,1,"Frauenthal, Dr. Henry William",male,50.00,2,0,PC 17611,133.6500,NaN,S
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
698,699,0,1,"Thayer, Mr. John Borland",male,49.00,1,1,17421,110.8833,C68,C
700,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C
708,709,1,1,"Cleaver, Miss. Alice",female,22.00,0,0,113781,151.5500,NaN,S
716,717,1,1,"Endres, Miss. Caroline Louise",female,38.00,0,0,PC 17757,227.5250,C45,C
730,731,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.00,0,0,PC 17755,512.3292,B101,C
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.00,1,2,113760,120.0000,B96 B98,S
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.00,0,1,24160,211.3375,B3,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.00,1,1,36928,164.8667,NaN,S

In [ ]:
import pandas as pd
from google.colab import files

first_class = df[df['Pclass'] == 1]
first_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

In [ ]:
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]
female_under_18.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
329,330,1,1,"Hippach, Miss. Jean Gertrude",female,16.00,0,1,111361,57.9792,B18,C
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.00,3,1,349909,21.0750,NaN,S
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C
389,390,1,2,"Lehmann, Miss. Bertha",female,17.00,0,0,SC 1748,12.0000,NaN,C
419,420,0,3,"Van Impe, Miss. Catharina",female,10.00,0,2,345773,24.1500,NaN,S
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
446,447,1,2,"Mellinger, Miss. Madeleine Violet",female,13.00,0,1,250644,19.5000,NaN,S
448,449,1,3,"Baclini, Miss. Marie Catherine",female,5.00,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
479,480,1,3,"Hirvonen, Miss. Hildur E",female,2.00,0,1,3101298,12.2875,NaN,S
504,505,1,1,"Maioni, Miss. Roberta",female,16.00,0,0,110152,86.5000,B79,S
530,531,1,2,"Quick, Miss. Phyllis May",female,2.00,1,1,26360,26.0000,NaN,S
535,536,1,2,"Hart, Miss. Eva Miriam",female,7.00,0,2,F.C.C. 13529,26.2500,NaN,S
541,542,0,3,"Andersson, Miss. Ingeborg Constanzia",female,9.00,4,2,347082,31.2750,NaN,S
542,543,0,3,"Andersson, Miss. Sigrid Elisabeth",female,11.00,4,2,347082,31.2750,NaN,S
618,619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136,39.0000,F4,S
634,635,0,3,"Skoog, Miss. Mabel",female,9.00,3,2,347088,27.9000,NaN,S
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
691,692,1,3,"Karun, Miss. Manca",female,4.00,0,1,349256,13.4167,NaN,C
720,721,1,2,"Harper, Miss. Annie Jessie ""Nina""",female,6.00,0,1,248727,33.0000,NaN,S
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S
777,778,1,3,"Emanuel, Miss. Virginia Ethel",female,5.00,0,0,364516,12.4750,NaN,S
780,781,1,3,"Ayoub, Miss. Banoura",female,13.00,0,0,2687,7.2292,NaN,C
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.00,4,2,347082,31.2750,NaN,S
830,831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,NaN,C
852,853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678,15.2458,NaN,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.00,0,1,PC 17592,39.4000,D28,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.00,0,0,2667,7.2250,NaN,C

In [ ]:
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]
embarked_c_or_s.head(200)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.0,1,0,243847,27.0000,NaN,S
218,219,1,1,"Bazzani, Miss. Albina",female,32.0,0,0,11813,76.2917,D15,C
219,220,0,2,"Harris, Mr. Walter",male,30.0,0,0,W/C 14208,10.5000,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.0,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.0,0,0,220367,13.0000,NaN,S

In [ ]:
first_second_class = df[df['Pclass'].isin([1, 2])]
first_second_class.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.0,0,0,W./C. 14263,10.5000,NaN,S
245,246,0,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.0,0,2,250649,14.5000,NaN,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.0,1,1,11751,52.5542,D35,S
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.0,1,0,244252,26.0000,NaN,S

In [ ]:
import pandas as pd

# Assuming df is the Titanic dataset loaded into a DataFrame

# Step 1: Add a new column 'Fare per Year' calculated as Fare / Age
df['Fare per Year'] = df['Fare'] / df['Age']

# Step 2: Subset rows where 'Fare per Year' is greater than 5
high_fare_age = df[df['Fare per Year'] > 5]

# Step 3: Sort 'high_fare_age' by 'Fare per Year' in descending order
high_fare_age_srt = high_fare_age.sort_values(by='Fare per Year', ascending=False)

# Step 4: Select only the 'Name' and 'Fare per Year' columns and save the result as 'result'
result = high_fare_age_srt[['Name', 'Fare per Year']]

# Print the result to view
result.head(100)

                                       Name  Fare per Year
305          Allison, Master. Hudson Trevor     164.728261
297            Allison, Miss. Helen Loraine      75.775000
386         Goodwin, Master. Sidney Leonard      46.900000
164            Panula, Master. Eino Viljami      39.687500
183               Becker, Master. Richard F      39.000000
..                                      ...            ...
318                Wick, Miss. Mary Natalie       5.318281
348  Coutts, Master. William Loch "William"       5.300000
205              Strom, Miss. Telma Matilda       5.231250
813      Andersson, Miss. Ebba Iris Alfrida       5.212500
480          Goodwin, Master. Harold Victor       5.211111

[68 rows x 2 columns]

In [ ]:
import pandas as pd

# Assuming df is the Titanic dataset loaded into a DataFrame

# Step 1: Add a new column 'Fare per Class' calculated as Fare / Pclass
df['Fare per Class'] = df['Fare'] / df['Pclass']

# Step 2: Subset rows where passenger is male (Sex is "male") and adult (Age >= 18)
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]

# Step 3: Sort adult males by 'Fare per Class' in descending order
adult_males_srt = adult_males.sort_values(by='Fare per Class', ascending=False)

# Step 4: Select only 'Name', 'Age', and 'Fare per Class' columns and save the result as 'result'
result = adult_males_srt[['Name', 'Age', 'Fare per Class']]

# Print the result to view
result.head(100)

                                       Name   Age  Fare per Class
737                  Lesurer, Mr. Gustave J  35.0        512.3292
679      Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27           Fortune, Mr. Charles Alexander  19.0        263.0000
438                       Fortune, Mr. Mark  64.0        263.0000
118                Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                      ...   ...             ...
707       Calderhead, Mr. Edward Pennington  42.0         26.2875
545            Nicholson, Mr. Arthur Ernest  64.0         26.0000
662              Colley, Mr. Edward Pomeroy  47.0         25.5875
685  Laroche, Mr. Joseph Philippe Lemercier  25.0         20.7896
684       Brown, Mr. Thomas William Solomon  60.0         19.5000

[100 rows x 3 columns]

In [ ]:
import pandas as pd

# Assuming df is the Titanic dataset loaded into a DataFrame

# Step 1: Calculate the total Fare paid across all passengers
total_fare = df['Fare'].sum()

# Step 2: Subset for passengers in first class (Pclass is 1) and calculate their total fare
first_class_fare = df[df['Pclass'] == 1]['Fare'].sum()

# Step 3: Subset for passengers in second class (Pclass is 2) and calculate their total fare
second_class_fare = df[df['Pclass'] == 2]['Fare'].sum()

# Subset for passengers in third class (Pclass is 3) and calculate their total fare
third_class_fare = df[df['Pclass'] == 3]['Fare'].sum()

# Step 4: Combine the fare totals from first, second, and third classes into a list
fare_totals_by_class = [first_class_fare, second_class_fare, third_class_fare]

# Step 5: Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class
proportions_by_class = [fare / total_fare for fare in fare_totals_by_class]

# Print the results
print(f"Total Fare: {total_fare}")
print(f"First Class Fare: {first_class_fare}")
print(f"Second Class Fare: {second_class_fare}")
print(f"Third Class Fare: {third_class_fare}")
print(f"Fare Totals by Class: {fare_totals_by_class}")
print(f"Proportions by Class: {proportions_by_class}")

Total Fare: 28693.9493
First Class Fare: 18177.4125
Second Class Fare: 3801.8417
Third Class Fare: 6714.6951
Fare Totals by Class: [18177.4125, 3801.8417, 6714.6951]
Proportions by Class: [0.6334928771899656, 0.1324962855496507, 0.23401083726038366]

In [ ]:
import pandas as pd

# Assuming df is the Titanic dataset loaded into a DataFrame

# Step 1: Create a new column 'age group' that categorizes passengers
def categorize_age(age):
    if age < 18:
        return 'child'
    elif 18 <= age < 65:
        return 'adult'
    else:
        return 'senior'

df['age group'] = df['Age'].apply(categorize_age)

# Step 2: Calculate the total number of passengers on the Titanic
total_passengers = df.shape[0]

# Step 3: Count the number of passengers in each age group
age_group_counts = df['age group'].value_counts()

# Step 4: Divide the count of each age group by the total number of passengers
age_group_proportions = age_group_counts / total_passengers

# Step 5: Display the proportion as a percentage
age_group_percentage = age_group_proportions * 100

# Print the results
print(f"Total Number of Passengers: {total_passengers}")
print(f"Age Group Counts:\n{age_group_counts}")
print(f"Proportion of Passengers in Each Age Group:\n{age_group_proportions}")
print(f"Proportion of Passengers in Each Age Group (Percentage):\n{age_group_percentage}")

Total Number of Passengers: 891
Age Group Counts:
age group
adult     590
senior    188
child     113
Name: count, dtype: int64
Proportion of Passengers in Each Age Group:
age group
adult     0.662177
senior    0.210999
child     0.126824
Name: count, dtype: float64
Proportion of Passengers in Each Age Group (Percentage):
age group
adult     66.217733
senior    21.099888
child     12.682379
Name: count, dtype: float64